

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
    /*    all: initial; */
      /*  border:solid blue; */
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- para poner comentarios>-->
    <h1>SUS CUENTAS: </h1>
    <h1>__________________________________________________</h1>
    <h1>___________CUENTAS___________________SALDO________</h1>
    <template is="dom-repeat" items="{{cuentas}}">
    <span> {{item.IBAN}}        </span>
    <span>/________/ {{item.balance}} </span>
    <br />

       <div class="col-7 greybg"> . </div>

     <style>
        .whiteBg {
          background-color: white;
        }
        .redbg {
          background-color: red;
        }
        .greenbg {
          background-color: green;
        }
        .bluebg {
          background-color: blue;
        }
        .greybg {
          background-color: grey;
      }
      </style>

    </template>

    <iron-ajax auto
      id="getcuentas"
      url="http://localhost:3000/apitechu/v2/cuentas/{{idUsuario}}"
      handle-as="json"
      on-response="showData"
    >
  </template>
  <script>

    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          idUsuario : {
            type: Number
          }, cuentas: {
            type:Array
          }
        };
      }
      showData(data){
        console.log("Entra en showData");
        console.log(data.detail.response);
       this.cuentas = data.detail.response;
      }
    }
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
